<h1 class="reading_intro"> Readings and commentaries for {{selection.book}} {{selection.chapter}}:{{selection.verse}} </h1>

<h3 class="reading"> {{reading}} </h3>

<hr>

{{#if commentaries.length}}
    <h2> Some commentaries on the passage: </h2>
    <table>
        {{#each commentaries}}
            <tr> 
                <td> <img src="{{author.image_url}}" class="portrait"> </td>
                <td> 
                    <p class="intro"> {{author.name}} [<a href="{{author.biography_link}}"> Bio. </a>] comments: </p>
                    <p class="text-justify"> {{comment}} [<a href="{{source}}"> Source </a>] </p>
                </td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <h2> No commentaries on the passage were found... </h2>
{{/if}}

<hr>